/* Global Background Styling */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #313131; /* Dark background */
  background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0); /* Subtle radial pattern */
  background-size: 30px 30px;
  background-position: -5px -5px;
}
